.container {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2000;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

    h1,
    h2,
    .message {
        text-align: center;
        width: 100%;
    }
}

.severity-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
}

.severity-error {
    color: #a94442;
    background-color: #f2dede;
}

.severity-fatal {
    color: #f2dede;
    background-color: #a94442;
}

.message {
    max-width: 40em;
}
