.name {
    background-color: black;
    padding: 1em 2em;
}

.list {
    list-style-type: none;
    margin: 0 0 0 2em;
    padding: 0;
}

.child {
    margin: 1px 0 0;
    padding: 0;
}

.child .name {
    cursor: pointer;
}
