.breakpoint {
    cursor: pointer;
    color: var(--brandColorsContrastBrightest);
    background-color: var(--brandColorsContrastNeutral);
    padding: 1em;
    width: 100%;
    text-align: left;
    font-size: var(--baseFontSize);
    border: none;
}
.breakpoint:hover {
    background-color: var(--brandColorsPrimaryBlue);
}

.title {
    font-size: 120%;
    display: inline-block;
    margin-right: .4em;
}

.name {
    font-size: 80%;
    color: var(--brandColorsContrastBright);
    display: inline-block;
}
.breakpoint:hover .name {
    color: var(--brandColorsContrastBrightest);
}
