.inspector {
    position: fixed;
    top: 41px;
    right: 0;
    background-color: var(--brandColorsContrastDarker);
    height: calc(100vh - 41px);
    width: 50vw;
    max-width: 430px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, .5);
    transform: translateX(100%);
    transition: transform .3s;
    display: flex;
    flex-direction: column;
}

.isVisible {
    transform: translateX(0);
}

.container {
    padding: 1rem;
    flex-grow: 0;
    flex-shrink: 0;

    + .container {
        background-color: rgba(0, 0, 0, .3);
        border-top: 1px solid rgba(153, 153, 153, .3);
        overflow-y: auto;
        flex-grow: 1;
        flex-shrink: 1;
    }
}
