.inspector {
    position: fixed;
    top: 41px;
    right: 0;
    background-color: var(--brandColorsContrastDarker);
    height: calc(100vh - 41px);
    width: 50vw;
    max-width: 400px;
    padding: 1rem;
    box-shadow: -2px 0 5px rgba(0, 0, 0, .5);
    transform: translateX(100%);
    transition: transform .3s;
}

.isVisible {
    transform: translateX(0);
}
