.loader {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    z-index: 900;
    cursor: wait;
}

.caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.imagemark {
    width: 100%;
    background-color: transparent;
    position: relative;
    z-index: 10;
}

.imagemark path {
    fill: #fff;
}

.monocle {
    position: absolute;
    top: 138px;
    left: 69px;
    z-index: 9;
    background: linear-gradient(to bottom, #f2f6f8 0,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%);
    background-size: 200%;
    background-position: 0 0;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    transform: rotate(45deg);
    animation: glare linear 2s infinite;
}

@keyframes glare {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 0 200%;
    }
}

