{
    "extends": ["stylelint-config-standard"],
    "rules": {
        "block-no-empty": true,
        "color-function-notation": null,
        "color-no-invalid-hex": true,
        "custom-property-pattern": null,
        "declaration-block-no-duplicate-properties": true,
        "declaration-block-no-redundant-longhand-properties": null,
        "function-url-quotes": "always",
        "media-feature-name-no-vendor-prefix": true,
        "property-no-vendor-prefix": true,
        "rule-empty-line-before": null,
        "selector-class-pattern": null,
        "selector-pseudo-class-no-unknown": [
            true,
            {
                "ignorePseudoClasses": ["global"]
            }
        ],
        "value-keyword-case": null,
        "value-no-vendor-prefix": true
    }
}
