.form {
    padding: var(--spacing);
}

.qrcode {
    width: 100%;
}

.url {
    position: relative;
    word-wrap: break-word;
    font-family: monospace;
    padding: 16px 42px 16px 16px;
    margin-top: 16px;
    background-color: #000;
}

.copy {
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
}
