.list {
    margin-top: -1rem;
    margin-bottom: 1rem;
    width: 100%;
}

.propSets {
    max-height: calc(100vh - 2 * var(--goldenUnit));
    overflow-y: scroll;
    overflow-x: hidden;
}

.separator {
    margin: 0;
    border-color: var(--brandColorsContrastBright);
}
