.prototype {
    margin: 40px 0;
    background-color: #323232;
    padding: 20px;

    > *:last-child {
        margin-bottom: 0;
    }
}

.headline {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.4em;
	position: relative;
    margin: 0 0 10px 0;
    padding-bottom: 5px;
    border-bottom: 1px solid #888;
    color: white;
}

.subheadline {
    font-family: 'Work Sans', sans-serif;
    font-weight: lighter;
    font-size: .6em;
	display: block;
    margin-top: 10px;
	color: #888;
}

.description {
    font-family: 'Work Sans', sans-serif;
    font-weight: lighter;
    font-size: .8em;
    color: white;
}

.handles {
	position: absolute;
	top: 0;
	right: 0;
}

.handle {
	width: auto;
    height: auto;
    min-width: 1em;
	line-height: 12px;
	padding: .6em;
	box-sizing: content-box;
	margin-left: .3em;
}

.handle i {
	font-size: 12px;
}

.iframe {
    margin: 10px 0;
    transition: max-width 0.25s ease-in-out;
    max-width: 1920px;
    width: 100%;
    border: none;
}
