
.tabNavigation {
    background-color: #555;
}

.tabs__content {
    background-color: #555;
}

.tabNavigation__item--isActive {
    background-color: #00ADEE;
    > .tabNavigation__itemBtn {
        color: #fff;
    }
}

.tabNavigation__itemBtn {
}

.tabNavigation__itemBtnIcon {
}
