.selector {
    width: 100%;
    display: flex;
    border: 1px solid var(--brandColorsContrastDark);
    justify-content: space-between;
    margin-bottom: 1rem;
}
.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    position: relative;

    label {
        display: block;
        margin-bottom: .6rem;
    }
}
.icon {
    margin-left: .6em;
}
