.propSet {
    cursor: pointer;
    color: var(--brandColorsContrastBrightest);
    background-color: var(--brandColorsContrastNeutral);
    padding: 1em;
    width: 100%;
    text-align: left;
    font-size: var(--baseFontSize);
    border: none;
}
.propSet:hover {
    background-color: var(--brandColorsPrimaryBlue);
}

.title {
    font-size: 120%;
    display: inline-block;
    margin-right: .4em;
}
