{namespace monocle=Sitegeist\Monocle\ViewHelpers}
<!doctype html>
<html>
	<head>
	    <meta charset="UTF-8">
		<title>{prototypeName}</title>

	    <f:if condition="{additionalResources.styleSheets}">
	        <f:for each="{additionalResources.styleSheets}" as="resource">
	            <link rel="stylesheet" href="{f:uri.resource(path: resource)}" />
	        </f:for>
	    </f:if>

	    <f:if condition="{additionalResources.javaScripts}">
	        <f:for each="{additionalResources.javaScripts}" as="resource">
	            <script src="{f:uri.resource(path: resource)}"></script>
	        </f:for>
	    </f:if>
	</head>
	<body style="overflow:hidden;">
		{renderedHtml -> f:format.raw()}
	</body>
</html>
