{namespace monocle=Sitegeist\Monocle\ViewHelpers}
<!doctype html>
<html>
<head>
    <meta charset="UTF-8">

    <f:if condition="{metaViewport}">
        <meta name="viewport" content="{metaViewport}"/>
    </f:if>

    <f:if condition="{additionalResources.styleSheets}">
        <f:for each="{additionalResources.styleSheets}" as="resource">
            <link rel="stylesheet" href="{resource}"/>
        </f:for>
    </f:if>

    <f:if condition="{additionalResources.javaScripts}">
        <f:for each="{additionalResources.javaScripts}" as="resource">
            <script src="{resource}"></script>
        </f:for>
    </f:if>
</head>
<body style="padding:0;">
</body>
</html>
