{namespace monocle=Sitegeist\Monocle\ViewHelpers}
<!doctype html>
<html>
	<head>
	    <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
        <link rel="stylesheet" href="{f:uri.resource(path: 'resource://Sitegeist.Monocle/Public/Styles/App.css')}" />
        <script src="{f:uri.resource(path: 'resource://Sitegeist.Monocle/Public/JavaScript/App.js')}"></script>
	</head>
	<body style="padding:0; background-color:#222;">
        <div
            id="app"
            data-default-path="{defaultPath}"
            data-fullscreen-uri="{f:uri.action(action:'module', controller:'preview', package:'Sitegeist.Monocle', absolute: 1)}"
            data-iframe-uri="{f:uri.action(action:'iframe', controller:'preview', package:'Sitegeist.Monocle')}"
            data-preview-uri="{f:uri.action(action:'component', controller:'preview', package:'Sitegeist.Monocle')}"
            data-prototypes-endpoint="{f:uri.action(action:'styleguideObjects', controller:'api', package:'Sitegeist.Monocle')}"
            data-resources-endpoint="{f:uri.action(action:'styleguideResources', controller:'api', package:'Sitegeist.Monocle')}"

            data-viewport-presets-endpoint="{f:uri.action(action:'viewportPresets', controller:'api', package:'Sitegeist.Monocle')}"
            data-sites-endpoint="{f:uri.action(action:'sites', controller:'api', package:'Sitegeist.Monocle')}"
            data-render-prototypes-endpoint="{f:uri.action(action:'renderPrototype', controller:'api', package:'Sitegeist.Monocle')}"
        ></div>
	</body>
</html>
