{namespace monocle=Sitegeist\Monocle\ViewHelpers}

<f:layout name="PreviewIframe" ></f:layout>

<f:section name="content">
    <f:if condition="{styleguideObjectTree.__item}">
        <f:then>
            <f:render section="Item" arguments="{item:styleguideObjectTree.__item, path: '{path}', node:node, showRenderedResult: showRenderedResult, showRenderedCode:showRenderedCode, showDescription:showDescription}" />
        </f:then>
        <f:else>
            <f:render section="Section" arguments="{objectTree:styleguideObjectTree, path: path, node:node, showRenderedResult: showRenderedResult, showRenderedCode:showRenderedCode, showDescription:showDescription}"></f:render>
        </f:else>
    </f:if>
</f:section>

<f:section name="Section">
    <f:for each="{objectTree}" as="subitem" key="subkey">
        <div class="monocle__section">
            <f:if condition="{subitem.__item}">
                <f:then>
                    <f:render section="Item" arguments="{item:subitem.__item, path: '{path}.{subkey}', node:node, showRenderedResult: showRenderedResult, showRenderedCode:showRenderedCode, showDescription:showDescription}" />
                </f:then>
                <f:else>
                    <div class="monocle__section__info">
                        <div class="monocle__section__info__headline">
                            {subkey -> f:format.case(mode:'capitalWords')}
                        </div>
                        <f:comment>
                            <f:link.action action="showPath" controller="preview" arguments="{path: '{path}.{subkey}'}" >{path}.{subkey}</f:link.action>
                        </f:comment>
                    </div>
                    <f:render section="Section" arguments="{objectTree:subitem, path: '{path}.{subkey}', node:node, showRenderedResult: showRenderedResult, showRenderedCode:showRenderedCode, showDescription:showDescription}" />
                </f:else>
            </f:if>
        </div>
    </f:for>
</f:section>

<f:section name="Item">
    <div class="monocle__item">

        <div class="monocle__item__info">
            <div class="monocle__item__info__headline">
                {item.styleguideConfiguration.title}
            </div>
            <f:comment>
                <f:link.action action="showPrototype" controller="preview" arguments="{prototypeName: item.prototypeName}" >{item.prototypeName}</f:link.action>
            </f:comment>
        </div>

        <f:if condition="showRenderedResult">
            <div class="monocle__item__preview" >
                <f:render partial="RenderPrototype" arguments="{item: item, node:node}"></f:render>
            </div>
        </f:if>
        <f:if condition="showRenderedCode">
            <div class="monocle__item__code" >
                <f:render partial="RenderPrototypeSource" arguments="{prototypeName:item.prototypeName, node:node}"></f:render>
            </div>
        </f:if>
        <f:if condition="showDescription">
            <div class="monocle__item__description" >
                <f:if condition="{item.styleguideConfiguration.description}">
                    <f:then>
                        {item.styleguideConfiguration.description}
                    </f:then>
                    <f:else>
                        no description found
                    </f:else>
                </f:if>
            </div>
        </f:if>
    </div>
</f:section>


$this->view->assign('showRenderedResult', $showRenderedResult);
$this->view->assign('showRenderedCode', $showRenderedCode);
$this->view->assign('showDescription', $showDescription);
