{namespace monocle=Sitegeist\Monocle\ViewHelpers}

<f:layout name="PreviewIframe" ></f:layout>

<f:section name="content">
    <f:render section="section" arguments="{section:styleguideSections, node:node, showRenderedResult:showRenderedResult, showRenderedCode:showRenderedCode, showDescription:showDescription  }"></f:render>
</f:section>

<f:section name="section">
    <div class="monocle__section">

        <div class="monocle__section__headline">Section:
            {section.title -> f:format.case(mode:'capitalWords')}
            <f:link.action action="showPath" controller="preview" arguments="{path: section.dotPath}" >
                {section.dotPath}
            </f:link.action>
        </div>

        <f:for each="{section.sections}" as="subsection">
            <f:render section="section" arguments="{section:subsection, node:node, showRenderedResult:showRenderedResult, showRenderedCode:showRenderedCode, showDescription:showDescription }"></f:render>
        </f:for>
        <f:for each="{section.items}" as="item">
            <div class="monocle__item">
                <div class="monocle__item__title">{item.title}
                    <f:link.action action="showPath" controller="preview" arguments="{path: item.dotPath}" >
                        {item.dotPath}
                    </f:link.action>
                </div>
                <div class="monocle__item__prototype">
                    <f:link.action action="showPrototype" controller="preview" arguments="{prototypeName :item.prototypeName}" >{item.prototypeName}</f:link.action>
                </div>
                <f:if condition="{showRenderedResult}">
                    <div class="monocle__item__block monocle__item__block--preview" >
                        <div class="monocle__item__block__label">Preview</div>
                        {monocle:renderPrototype(prototypeName:item.prototypeName, node:node) -> f:format.raw()}
                    </div>
                </f:if>
                <f:if condition="{showRenderedCode}">
                    <div class="monocle__item__block monocle__item__block--code" >
                        <div class="monocle__item__block__label">Code</div>
                        <pre class="language-html">
                            <code class="language-html">{monocle:renderPrototype(prototypeName:item.prototypeName, node:node)}</code>
                        </pre>
                    </div>
                </f:if>
                <f:if condition="{showDescription}">
                    <div class="monocle__item__block monocle__item__block--description" >
                        <div class="monocle__item__block__label">Description</div>
                        <f:if condition="{item.description}"><p>{item.description}</p></f:if>
                    </div>
                </f:if>
            </div>
        </f:for>
    </div>
</f:section>