<f:layout name="BackendSubModule" />

<f:section name="content">

    <div class="neos-header">
        <f:for each="{styleguideRootSection.sections}" as="section" >
            <f:link.action action="index" arguments="{node: node, path: '{section.path}'}" class="neos-button" >{section.title}</f:link.action>
        </f:for>
    </div>

    <div class="neos-content">

        <iframe src="{f:uri.action(action:'show', controller:'preview', package:'Sitegeist.Monocle', useParentRequest:1, arguments:'{path: path, node:node}')}" style="margin: 20px 0; width:100%; background-color: white; height:500px; overflow:scroll;" ></iframe>

    </div>
</f:section>