.navigation {
    float: left;
}

.options {
    display: inline-block;
    float: right;
    margin-left: 10px;
    margin-right: 10px;
}

.viewports {

    display: inline-block;
    float: right;
}

.fullscreen {
    display: inline-block;
    float: right;
}
