.reset__reset___1Viz7 {
    font-family: 'Noto Sans', sans-serif;
    font-weight: normal;
    color: #FFF;
    margin: 0;
    padding: 0;
}

    .reset__reset___1Viz7,
    .reset__reset___1Viz7:before,
    .reset__reset___1Viz7:after {
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    }

    /* some browsers set a font-size or margin in their user stylesheets */

    .reset__reset___1Viz7 input,
    .reset__reset___1Viz7 textarea,
    .reset__reset___1Viz7 select,
    .reset__reset___1Viz7 button {
        font-size: 14px;
        margin: 0;
    }

    .reset__reset___1Viz7 ul {
        padding: 0;
    }

    /* webkit adds some weird spacing otherwise */

    .reset__reset___1Viz7 li {
        display: block;
    }

    .reset__reset___1Viz7 input::-webkit-search-cancel-button {
        display: none;
    }

    /* webkit adds white box around search box */

    .reset__reset___1Viz7 input {
        -webkit-appearance: none;
           -moz-appearance: none;
                appearance: none;
    }

.style__bar___3mX9M {
    position: fixed;
    left: 0;
    z-index: 1;
    width: 100%;
    background-color: #222;
    height: 41px;
    border-bottom: 1px solid #3f3f3f;
}
.style__bar--top___Voc_G {
    top: 0;
}
.style__bar--bottom___thxYa {
    bottom: 0;
}

.style__btn___3VSf2 {
    position: relative;
    display: inline-block;
    height: 40px;
    min-width: 40px;
    padding: 0 16px;
    border: 0;
    -webkit-font-smoothing: antialiased;
    vertical-align: middle;
    width: auto;
    color: #FFF;
    cursor: pointer;
    background-color: #323232;
    font-size: 14px;
}

    .style__btn___3VSf2:focus {
        outline: 1px solid #00ADEE;
    }

    .style__btn___3VSf2[disabled] {
        opacity: .5;
        cursor: not-allowed;
    }

    .style__btn___3VSf2[disabled]:hover,
        .style__btn___3VSf2[disabled].style__btn--isPressed___cJdEN,
        .style__btn___3VSf2[disabled]:hover i,
        .style__btn___3VSf2[disabled] i {
            color: #FFF;
        }
.style__btn--size-small___2_XTB {
    height: 32px;
    font-size: 13px;
    padding: 0 8px;
}
.style__btn--clean___1QEZi {
    background-color: #222;
}
.style__btn--lighter___2Qnkp,
.style__btn--lighter___2Qnkp i {
    background-color: #3f3f3f;
}
.style__btn--neutral___2M15I,
.style__btn--neutral___2M15I i {
    background-color: #323232;
}
.style__btn--transparent___1kjSs {
    background: 0;
}
.style__btn--brand___3O673,
.style__btn--brand___3O673 i {
    background-color: #00ADEE;
    color: white !important;
}
.style__btn--success___l-Q2N,
.style__btn--success___l-Q2N i {
    background-color: #00a338;
    color: white !important;
}
.style__btn--warn___2Jc90,
.style__btn--warn___2Jc90 i {
    background-color: #ff8700;
}
.style__btn--error___dCDc9,
.style__btn--error___dCDc9 i {
    background-color: #ff460d;
    color: white !important;
}
.style__btn--brandActive___2kEEl {
    background-color: #00ADEE;
}
.style__btn--brandActive___2kEEl svg {
        color: #FFF;
    }
.style__btn--brandHover___1qu7r:hover:enabled,
.style__btn--brandHover___1qu7r:hover:enabled i,
.style__btn--brandHover___1qu7r.style__btn--isPressed___cJdEN,
.style__btn--brandHover___1qu7r.style__btn--isPressed___cJdEN i {
    background-color: #00ADEE;
}
.style__btn--cleanHover___1WtCu.style__btn--isPressed___cJdEN,
.style__btn--cleanHover___1WtCu.style__btn--isPressed___cJdEN i,
.style__btn--cleanHover___1WtCu:hover:enabled,
.style__btn--cleanHover___1WtCu:hover:enabled i {
    color: #00ADEE;
}
.style__btn--cleanHover___1WtCu.style__btn--isPressed___cJdEN svg, .style__btn--cleanHover___1WtCu.style__btn--isPressed___cJdEN i svg, .style__btn--cleanHover___1WtCu:hover:enabled svg, .style__btn--cleanHover___1WtCu:hover:enabled i svg {
        color: #00ADEE;
    }
.style__btn--darkenHover___2zUzW.style__btn--isPressed___cJdEN,
.style__btn--darkenHover___2zUzW.style__btn--isPressed___cJdEN i,
.style__btn--darkenHover___2zUzW:hover:enabled,
.style__btn--darkenHover___2zUzW:hover:enabled i {
    background-color: rgba(0, 0, 0, .1);
}
.style__btn--successHover___CD48S.style__btn--isPressed___cJdEN,
.style__btn--successHover___CD48S.style__btn--isPressed___cJdEN i,
.style__btn--successHover___CD48S:hover:enabled,
.style__btn--successHover___CD48S:hover:enabled i {
    background-color: #0bb344;
}
.style__btn--warnHover___29FXm.style__btn--isPressed___cJdEN,
.style__btn--warnHover___29FXm.style__btn--isPressed___cJdEN i,
.style__btn--warnHover___29FXm:hover:enabled,
.style__btn--warnHover___29FXm:hover:enabled i {
    background-color: #fda23d;
}
.style__btn--errorHover___ryn4E:hover:enabled,
.style__btn--errorHover___ryn4E:hover:enabled i,
.style__btn--errorHover___ryn4E.style__btn--isPressed___cJdEN,
.style__btn--errorHover___ryn4E.style__btn--isPressed___cJdEN i {
    background-color: #ff6a3c;
}

.outside__outside___2dVX_{position:fixed;top:0;left:0;bottom:0;right:0;z-index:2000}.outside__inside___3o079{position:relative;z-index:2000}
.attached__attached___drkH2{position:absolute;top:100%}.attached__attached--centered___1gBbH{left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%)}.attached__attached--right___2iUxe{right:0}.attached__attached--left___3_-Ku{left:0}
.styles__svg-inline--fa___dGqsX,svg:not(:root).styles__svg-inline--fa___dGqsX{overflow:visible}.styles__svg-inline--fa___dGqsX{display:inline-block;font-size:inherit;height:1em;vertical-align:-.125em}.styles__svg-inline--fa___dGqsX.styles__fa-lg___1bJpn{vertical-align:-.225em}.styles__svg-inline--fa___dGqsX.styles__fa-w-1___3_M5H{width:.0625em}.styles__svg-inline--fa___dGqsX.styles__fa-w-2___M-8o1{width:.125em}.styles__svg-inline--fa___dGqsX.styles__fa-w-3___11Qdt{width:.1875em}.styles__svg-inline--fa___dGqsX.styles__fa-w-4___mZ842{width:.25em}.styles__svg-inline--fa___dGqsX.styles__fa-w-5___1u_LU{width:.3125em}.styles__svg-inline--fa___dGqsX.styles__fa-w-6___3ySCO{width:.375em}.styles__svg-inline--fa___dGqsX.styles__fa-w-7___UUpCv{width:.4375em}.styles__svg-inline--fa___dGqsX.styles__fa-w-8___3AvP3{width:.5em}.styles__svg-inline--fa___dGqsX.styles__fa-w-9___3nCQq{width:.5625em}.styles__svg-inline--fa___dGqsX.styles__fa-w-10___3N7-0{width:.625em}.styles__svg-inline--fa___dGqsX.styles__fa-w-11___1QPBN{width:.6875em}.styles__svg-inline--fa___dGqsX.styles__fa-w-12___3Mi8m{width:.75em}.styles__svg-inline--fa___dGqsX.styles__fa-w-13___3t31t{width:.8125em}.styles__svg-inline--fa___dGqsX.styles__fa-w-14___3grJq{width:.875em}.styles__svg-inline--fa___dGqsX.styles__fa-w-15___2QnnV{width:.9375em}.styles__svg-inline--fa___dGqsX.styles__fa-w-16___3N0Ny{width:1em}.styles__svg-inline--fa___dGqsX.styles__fa-w-17___1BibE{width:1.0625em}.styles__svg-inline--fa___dGqsX.styles__fa-w-18___3ZAxn{width:1.125em}.styles__svg-inline--fa___dGqsX.styles__fa-w-19___3ed3b{width:1.1875em}.styles__svg-inline--fa___dGqsX.styles__fa-w-20___2ubuQ{width:1.25em}.styles__svg-inline--fa___dGqsX.styles__fa-pull-left___1FNJn{margin-right:.3em;width:auto}.styles__svg-inline--fa___dGqsX.styles__fa-pull-right___2kYdQ{margin-left:.3em;width:auto}.styles__svg-inline--fa___dGqsX.styles__fa-border___7J9im{height:1.5em}.styles__svg-inline--fa___dGqsX.styles__fa-li___2uo5G{width:2em}.styles__svg-inline--fa___dGqsX.styles__fa-fw___2oUG-{width:1.25em}.styles__fa-layers___2lD1t svg.styles__svg-inline--fa___dGqsX{bottom:0;left:0;margin:auto;position:absolute;right:0;top:0}.styles__fa-layers___2lD1t{display:inline-block;height:1em;position:relative;text-align:center;vertical-align:-.125em;width:1em}.styles__fa-layers___2lD1t svg.styles__svg-inline--fa___dGqsX{-webkit-transform-origin:center center;transform-origin:center center}.styles__fa-layers-counter___2gBCo,.styles__fa-layers-text___1Byc8{display:inline-block;position:absolute;text-align:center}.styles__fa-layers-text___1Byc8{left:50%;top:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);-webkit-transform-origin:center center;transform-origin:center center}.styles__fa-layers-counter___2gBCo{background-color:#ff253a;border-radius:1em;-webkit-box-sizing:border-box;box-sizing:border-box;color:#fff;height:1.5em;line-height:1;max-width:5em;min-width:1.5em;overflow:hidden;padding:.25em;right:0;text-overflow:ellipsis;top:0;-webkit-transform:scale(.25);transform:scale(.25);-webkit-transform-origin:top right;transform-origin:top right}.styles__fa-layers-bottom-right___1JQk9{bottom:0;right:0;top:auto;-webkit-transform:scale(.25);transform:scale(.25);-webkit-transform-origin:bottom right;transform-origin:bottom right}.styles__fa-layers-bottom-left___1-uie{bottom:0;left:0;right:auto;top:auto;-webkit-transform:scale(.25);transform:scale(.25);-webkit-transform-origin:bottom left;transform-origin:bottom left}.styles__fa-layers-top-right___3UyLF{right:0;top:0;-webkit-transform:scale(.25);transform:scale(.25);-webkit-transform-origin:top right;transform-origin:top right}.styles__fa-layers-top-left___19a2a{left:0;right:auto;top:0;-webkit-transform:scale(.25);transform:scale(.25);-webkit-transform-origin:top left;transform-origin:top left}.styles__fa-lg___1bJpn{font-size:1.33333em;line-height:.75em;vertical-align:-.0667em}.styles__fa-xs___29A2M{font-size:.75em}.styles__fa-sm___32N4S{font-size:.875em}.styles__fa-1x___1_4Mf{font-size:1em}.styles__fa-2x___2IfVp{font-size:2em}.styles__fa-3x___1zDxD{font-size:3em}.styles__fa-4x___1s0uM{font-size:4em}.styles__fa-5x___6NQ7j{font-size:5em}.styles__fa-6x___1NSTh{font-size:6em}.styles__fa-7x___1u8UL{font-size:7em}.styles__fa-8x___2SF0U{font-size:8em}.styles__fa-9x___3BPvD{font-size:9em}.styles__fa-10x___2u7uI{font-size:10em}.styles__fa-fw___2oUG-{text-align:center;width:1.25em}.styles__fa-ul___2Z2IM{list-style-type:none;margin-left:2.5em;padding-left:0}.styles__fa-ul___2Z2IM>li{position:relative}.styles__fa-li___2uo5G{left:-2em;position:absolute;text-align:center;width:2em;line-height:inherit}.styles__fa-border___7J9im{border:.08em solid #eee;border-radius:.1em;padding:.2em .25em .15em}.styles__fa-pull-left___1FNJn{float:left}.styles__fa-pull-right___2kYdQ{float:right}.styles__fa___3t-OT.styles__fa-pull-left___1FNJn,.styles__fab___UMnfK.styles__fa-pull-left___1FNJn,.styles__fal___UzThI.styles__fa-pull-left___1FNJn,.styles__far___2rCIj.styles__fa-pull-left___1FNJn,.styles__fas___2sBwj.styles__fa-pull-left___1FNJn{margin-right:.3em}.styles__fa___3t-OT.styles__fa-pull-right___2kYdQ,.styles__fab___UMnfK.styles__fa-pull-right___2kYdQ,.styles__fal___UzThI.styles__fa-pull-right___2kYdQ,.styles__far___2rCIj.styles__fa-pull-right___2kYdQ,.styles__fas___2sBwj.styles__fa-pull-right___2kYdQ{margin-left:.3em}.styles__fa-spin___1X3_r{-webkit-animation:styles__fa-spin___1X3_r 2s linear infinite;animation:styles__fa-spin___1X3_r 2s linear infinite}.styles__fa-pulse___36SpS{-webkit-animation:styles__fa-spin___1X3_r 1s steps(8) infinite;animation:styles__fa-spin___1X3_r 1s steps(8) infinite}@-webkit-keyframes styles__fa-spin___1X3_r{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}to{-webkit-transform:rotate(1turn);transform:rotate(1turn)}}@keyframes styles__fa-spin___1X3_r{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}to{-webkit-transform:rotate(1turn);transform:rotate(1turn)}}.styles__fa-rotate-90___3R4UK{-ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";-webkit-transform:rotate(90deg);transform:rotate(90deg)}.styles__fa-rotate-180___2Sekr{-ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";-webkit-transform:rotate(180deg);transform:rotate(180deg)}.styles__fa-rotate-270___2TBBu{-ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";-webkit-transform:rotate(270deg);transform:rotate(270deg)}.styles__fa-flip-horizontal___EL0is{-ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";-webkit-transform:scaleX(-1);transform:scaleX(-1)}.styles__fa-flip-vertical___3uL4i{-webkit-transform:scaleY(-1);transform:scaleY(-1)}.styles__fa-flip-both___1eJFs,.styles__fa-flip-horizontal___EL0is.styles__fa-flip-vertical___3uL4i,.styles__fa-flip-vertical___3uL4i{-ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)"}.styles__fa-flip-both___1eJFs,.styles__fa-flip-horizontal___EL0is.styles__fa-flip-vertical___3uL4i{-webkit-transform:scale(-1);transform:scale(-1)}:root .styles__fa-flip-both___1eJFs,:root .styles__fa-flip-horizontal___EL0is,:root .styles__fa-flip-vertical___3uL4i,:root .styles__fa-rotate-90___3R4UK,:root .styles__fa-rotate-180___2Sekr,:root .styles__fa-rotate-270___2TBBu{-webkit-filter:none;filter:none}.styles__fa-stack___3iJ2b{display:inline-block;height:2em;position:relative;width:2.5em}.styles__fa-stack-1x___1RKaX,.styles__fa-stack-2x___3tu5s{bottom:0;left:0;margin:auto;position:absolute;right:0;top:0}.styles__svg-inline--fa___dGqsX.styles__fa-stack-1x___1RKaX{height:1em;width:1.25em}.styles__svg-inline--fa___dGqsX.styles__fa-stack-2x___3tu5s{height:2em;width:2.5em}.styles__fa-inverse___3agve{color:#fff}.styles__sr-only___1CNtR{border:0;clip:rect(0,0,0,0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}.styles__sr-only-focusable___3fV0p:active,.styles__sr-only-focusable___3fV0p:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto}.styles__svg-inline--fa___dGqsX .styles__fa-primary___35BV8{fill:currentColor;opacity:1}.styles__svg-inline--fa___dGqsX .styles__fa-secondary___LaOWl{fill:currentColor;opacity:.4}.styles__svg-inline--fa___dGqsX.styles__fa-swap-opacity___1nkQy .styles__fa-primary___35BV8{opacity:.4}.styles__svg-inline--fa___dGqsX.styles__fa-swap-opacity___1nkQy .styles__fa-secondary___LaOWl{opacity:1}.styles__svg-inline--fa___dGqsX mask .styles__fa-primary___35BV8,.styles__svg-inline--fa___dGqsX mask .styles__fa-secondary___LaOWl{fill:#000}.styles__fad___374AO.styles__fa-inverse___3agve{color:#fff}
.style__icon___2bZb7 {
    display: inline-block;
    font: normal normal normal FontAwesome;
    font-size: 14px/1;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.style__icon--paddedLeft___1gDeb {
    margin-left: .75em;
}
.style__icon--paddedRight___3AtoT {
    margin-right: .75em;
}
.style__icon--color-warn___pgUbH {
    color: #ff8700;
}
.style__icon--color-error___1e8Ao {
    color: #ff460d;
}
.style__icon--color-primaryBlue___3GVeX {
    color: #00ADEE;
}

.resizable__handle___3A29A{width:100%;max-height:calc(100vh - 40px);border-bottom:3px solid grey;cursor:row-resize}.resizable__overlay___3yqU4{position:fixed;top:0;left:0;bottom:0;right:0;z-index:2000}.resizable__resizable___2xumk{overflow:hidden}.resizable__icon___3OacB{width:1em;height:1em}
.style__textInput___17C5d {
    /* TODO: should eventually be moved to reset.css, but there maybe be plenty of side-effects */
    font-size: 14px;
    width: 100%;
    height: 40px;
    padding: 0 14px;
    border: 0;
    border-radius: 2px;
    background: #323232;
    color: white;
}

    .style__textInput___17C5d:focus {
        outline: 0;
        background: #FFF;
        color: #141414;
    }
.style__textInput___17C5d::-webkit-input-placeholder {
    font-family: 'Noto Sans', sans-serif;
    font-weight: normal;
    color: #999;
}
.style__textInput--disabled___3BA0x {
    opacity: .65;
    cursor: not-allowed;
}

.style__prototype___1Dwjn{cursor:pointer;color:#fff;background-color:#323232;padding:1em;width:100%;text-align:left;font-size:14px;border:none;display:-webkit-box;display:-ms-flexbox;display:flex}.style__icon___10c3F{width:2rem;height:2rem;margin-right:14px}.style__isFocused___14XsE,.style__prototype___1Dwjn:hover{background-color:#00adee}.style__title___19Twp{font-size:120%}.style__name___3tDSq{font-size:80%;color:#999}.style__isFocused___14XsE .style__name___3tDSq,.style__prototype___1Dwjn:hover .style__name___3tDSq{color:#fff}
.style__group___3enml{background-color:#3f3f3f}.style__label___3ywGH{font-size:60%;display:block;padding:.3rem;text-align:center}
.style__list___1l73j{width:100vw;max-width:800px}.style__prototypes___qjqoc{max-height:calc(100vh - 80px);margin-top:-var(--spacing);overflow-y:scroll;overflow-x:hidden}.style__searchField___T2MJB input{text-align:center;font-size:16px;height:50px;border:1px solid #3f3f3f}::-webkit-scrollbar{width:8px;height:8px}::-webkit-scrollbar-track{background-color:#3f3f3f}::-webkit-scrollbar-thumb{background-color:#222;border:1px solid #3f3f3f}::-webkit-scrollbar-corner{background-color:#3f3f3f}
.style__container___3tuuz{position:relative}.style__selector___1tpCi button{font-weight:700;white-space:nowrap}
.style__site___RluX-{cursor:pointer;color:#fff;background-color:#323232;padding:1em;width:100%;text-align:left;font-size:14px;border:none}.style__site___RluX-:hover{background-color:#00adee}.style__title___32Bh_{font-size:120%;display:inline-block;margin-right:.4em}
.style__list___8XLPB{width:100vh;max-width:200px}.style__sites___hgc7B{max-height:calc(100vh - 80px);overflow-y:scroll;overflow-x:hidden}.style__separator___I7wBU{margin:0;border-color:#999}
.style__selector___1rwIf{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.style__container___2yDss{position:relative}.style__icon___3kT4_{width:1em;height:1em;margin-right:.6em}
.style__breakpoint___2xOos{cursor:pointer;color:#fff;background-color:#323232;padding:1em;width:100%;text-align:left;font-size:14px;border:none}.style__breakpoint___2xOos:hover{background-color:#00adee}.style__title___1RAsy{font-size:120%;margin-right:.4em}.style__dimensions___23PO-,.style__title___1RAsy{display:inline-block}.style__dimensions___23PO-{font-size:80%;color:#999}.style__breakpoint___2xOos:hover .style__name___aTL_t{color:#fff}
.style__list___3b9xw{width:100vh;max-width:300px}.style__breakpoints___1W_yT{max-height:calc(100vh - 80px);overflow-y:scroll;overflow-x:hidden}.style__separator___Y05O3{margin:0;border-color:#999}
.style__selector___2GRQx{display:-webkit-box;display:-ms-flexbox;display:flex;white-space:nowrap;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.style__container___2-Qox{position:relative}.style__icon___1Ejwx{width:1em;height:1em;margin-right:.6em}
.style__locale___W6JiQ{cursor:pointer;color:#fff;background-color:#323232;padding:1em;width:100%;text-align:left;font-size:14px;border:none}.style__locale___W6JiQ:hover{background-color:#00adee}.style__title___zIuWm{font-size:120%;margin-right:.4em}.style__name___13SWs,.style__title___zIuWm{display:inline-block}.style__name___13SWs{font-size:80%;color:#999}.style__locale___W6JiQ:hover .style__name___13SWs{color:#fff}
.style__list___HdlW7{width:100vh;max-width:200px}.style__locales___2GCTo{max-height:calc(100vh - 80px);overflow-y:scroll;overflow-x:hidden}.style__separator___cyjjo{margin:0;border-color:#999}
.style__selector___1X8Ql{display:-webkit-box;display:-ms-flexbox;display:flex;white-space:nowrap;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.style__container___1FemG{position:relative}.style__icon___3awEe{width:1em;height:1em;margin-right:.6em}
.style__propSet___H7RUQ{cursor:pointer;color:#fff;background-color:#323232;padding:1em;width:100%;text-align:left;font-size:14px;border:none}.style__propSet___H7RUQ:hover{background-color:#00adee}.style__title___hwYVc{font-size:120%;display:inline-block;margin-right:.4em}
.style__list___2zUXH{margin-top:-1rem;margin-bottom:1rem;width:100%}.style__propSets___3g6CE{max-height:calc(100vh - 80px);overflow-y:scroll;overflow-x:hidden}.style__separator___MU2Ry{margin:0;border-color:#999}
.style__selector___2ExfO{width:100%;display:-webkit-box;display:-ms-flexbox;display:flex;border:1px solid #3f3f3f;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;margin-bottom:1rem}.style__container___3adPw{width:100%;max-width:800px;margin:0 auto;position:relative;}.style__container___3adPw label{display:block;margin-bottom:.6rem}.style__icon___2BR7g{margin-left:.6em}
.style__textArea___1Bi79 {
    width: 100%;
    height: 40px;
    padding: 10px 14px;
    border: 0;
    border-radius: 2px;
    background: #323232;
    resize: vertical;
    -webkit-transition: .3s height;
    transition: .3s height;
}

    .style__textArea___1Bi79:focus {
        outline: 0;
        background: #FFF;
        color: #141414;
    }
.style__textArea___1Bi79::-webkit-input-placeholder {
    font-family: 'Noto Sans', sans-serif;
    color: #999;
}
.style__textArea--invalid___11snl {
    outline: 2px solid #ff460d !important;
}
.style__textArea--highlight___2e43A {
    outline: 2px solid #00a338;
}
.style__textArea--disabled___2vLFr {
    opacity: .65;
    cursor: not-allowed;
}

.style__checkbox___1wUs5 {
    position: relative;
    display: inline-block;
    margin-right: 8px;
    vertical-align: middle;
}
.style__checkbox__input___1PVZF {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 20px;
    height: 20px;
    opacity: 0;
    cursor: pointer;
}
.style__checkbox__icon___3imP1 {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    opacity: .2;
}
.style__checkbox__inputMirror___1rHiF {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    vertical-align: text-bottom;
    background: #3f3f3f;
    font-size: 20px;
    font-weight: bold;
}
.style__checkbox__inputMirror--active___14-yn {
    background: #00ADEE;
}
.style__checkbox__checked___2n5BX .style__checkbox__icon___3imP1 {
        opacity: 1;
    }
.style__checkbox__disabled___2UKFx {
    opacity: .65;
    cursor: not-allowed;
}
.style__checkbox__disabled___2UKFx .style__checkbox__input___1PVZF {
        cursor: not-allowed;
    }

.style__dropDown___3Itst {
    position: relative;
    display: inline-block;
    width: 100%;
}
.style__dropDown__btn___1dYAt {
    display: block;
    width: 100%;
    height: 40px;
    text-align: left;
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding: 0 16px;
    border: 0;
    border-radius: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 40px;
    background: #323232;
}
.style__dropDown__btn___1dYAt:focus{
        outline: 1px solid #00ADEE;
    }
.style__dropDown__btn--withChevron___1VsHH {
    padding-right: 40px;
}
.style__dropDown__btnLabel___3yZj5 {
    margin-right: .5em;
}
.style__dropDown__chevron___2lcWv {
    position: absolute;
    right: 16px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
}
.style__dropDown__contents___3TFNz {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    display: none;
    width: 100%;
    margin: 0;
    list-style: none;
    background: #323232;
    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, .2);
            box-shadow: 0 5px 5px rgba(0, 0, 0, .2);
}
.style__dropDown__contents--scrollable___25Cy5 {
    position: fixed;
    top: auto;
    overflow-y: auto;
}
.style__dropDown__contents--isOpen___2eV62 {
    display: block;
}
.style__dropDown--darker___WTA-k > .style__dropDown__btn--open___35gIC {
        background-color: #222;
    }
.style__dropDown--darker___WTA-k > .style__dropDown__contents___3TFNz {
        background-color: #222;
    }
.style__dropDown--darkest___116C_ > .style__dropDown__btn--open___35gIC {
        background-color: #141414;
    }
.style__dropDown--darkest___116C_ > .style__dropDown__contents___3TFNz {
        background-color: #141414;
    }
.style__dropDown--padded___2A36u > .style__dropDown__contents___3TFNz {
        padding: 16px;
    }

.style__selectBox__list___3iEfw {
    padding: 0;
}

.style__selectBox___1Jiyj {
    position: relative;
    display: inline-block;
    line-height: 0;
}

.style__selectBox__btn___2lmXR {
    position: relative;
    display: inline-block;
    text-overflow: clip;
    height: auto;
    min-height: 40px;
    line-height: 40px;
    padding-left: 0;
    border: 0;
    background: #323232;
    min-width: 160px;
}

.style__selectBox__btn--noRightPadding___r3QXo {
    padding-right: 0;
}

.style__selectBox__contents___3eNj2 {
    min-width: 160px;
    -webkit-box-shadow: 0 5px 5px rgba(0,0,0, .2);
            box-shadow: 0 5px 5px rgba(0,0,0, .2);
    z-index: 4;
    padding: 2px !important;
    margin-top: -2px;
}

.style__selectBox__item___3vBq6 {
    border-top: 1px solid #222;
    background: #141414;
}

.style__selectBox__item___3vBq6 div {
        padding: 5px 14px;
    }

.style__selectBox__groupHeader___3jfVd {
    background-color: #222;
    font-weight: bold;
    padding-left: 16px;
    line-height: 30px;
    text-transform: uppercase;
}

.style__selectBox--disabled___oGDGo {
    -webkit-filter: opacity(50%);
            filter: opacity(50%);
    cursor: not-allowed;
}

.style__listPreviewElement___39WiR {
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;

    /* subtract the size of padding */
    line-height: calc(40px - 10px);
    padding: 5px 16px;
}

.style__listPreviewElement--isDisabled___1TNBr {
    color: #999;
    cursor: not-allowed;
}

.style__listPreviewElement--isHighlighted___117QN {
    background: #00ADEE;
}

.style__listPreviewElement--isHighlighted___117QN > span {
    color: #fff;
}

.style__listPreviewElement__icon___3a9JU {
    margin-right: .5em;
}

.style__listPreviewElement__iconWrapper___3OPOQ {
    padding: 0 !important;
    width: 2em;
    display: inline-block;
    text-align: center;
}

.style__selectBoxHeader___2WQJC {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.style__selectBoxHeader__innerPreview___4kc28 {
    overflow: hidden;
    width: 100%;
}

.style__selectBoxHeader__icon___2E92O {
    line-height: 40px;
    height: 100%;
}

.style__selectBoxHeader__label___3ZH1Q {
    padding: 0 16px;
}

.style__selectBoxHeader__wrapperIconWrapper___SM2ZN {
    padding: 0 16px;
}

.style__selectBoxHeader__wrapperPlaceholderIconWrapper___2Q7i6 {
    padding: 0 8px 0 0;
}

.style__selectBoxHeader--disabled___2fhI9 {
    cursor: not-allowed;
}

.style__iconButton___1KYXk {
    vertical-align: top;
    width: 40px;
    padding-left: 0;
    padding-right: 0;
}

.style__iconButton--disabled___2bD5O {
    opacity: .65;
    cursor: not-allowed;
}

.style__size-small___ODHRM {
    width: 32px !important;
    min-width: 32px !important;
}

.style__selectBoxHeaderWithSearchInput___rbNuX {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 16px;
}

.style__selectBoxHeaderWithSearchInput__inputContainer___tDQ2d {
    width: 100%;
}

.style__selectBoxHeaderWithSearchInput__input___2xvH2 {
    width: 100%;
    color: #fff;
    /* TODO: move to reset / use var */
    font-size: 14px;
}

.style__selectBoxHeaderWithSearchInput__input___2xvH2:focus {
        background: transparent !important;
        color: #fff !important;
    }

.style__selectBoxHeaderWithSearchInput__icon___11Ol3 {
    height: 40px;
}

.style__item___8telg{width:100%;max-width:800px;margin:0 auto;}.style__item___8telg label{display:block;margin-bottom:.6rem}
.style__inspector___5vxId{position:fixed;top:41px;right:0;background-color:#222;height:calc(100vh - 41px);width:50vw;max-width:400px;padding:1rem;-webkit-box-shadow:-2px 0 5px rgba(0,0,0,.5);box-shadow:-2px 0 5px rgba(0,0,0,.5);-webkit-transform:translateX(100%);transform:translateX(100%);-webkit-transition:-webkit-transform .3s;transition:-webkit-transform .3s;transition:transform .3s;transition:transform .3s,-webkit-transform .3s}.style__isVisible___kXY-G{-webkit-transform:translateX(0);transform:translateX(0)}
.style__inspector___2d1EH{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.style__container___15wYM{position:relative}.style__icon___1BbqY{width:1em;height:1em;margin-right:.6em}
.style__selector___3OGes{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.style__icon___-XcpB{width:1em;height:1em}
.style__selector___5ek5B{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.style__icon___23F1I{width:1em;height:1em}
.style__selector___1XncN{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.style__icon___vYHgl{width:1em;height:1em}
.style__toolbox___19BHw{display:-webkit-box;display:-ms-flexbox;display:flex}
.style__bar___98Wqi{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}.style__section___3WP0r{-ms-flex-preferred-size:0;flex-basis:0}
.style__frame___-KHZs{-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;-ms-flex-preferred-size:0;flex-basis:0;-webkit-transition:width .3s,min-width .3s,left .3s,-webkit-transform .3s;transition:width .3s,min-width .3s,left .3s,-webkit-transform .3s;transition:width .3s,min-width .3s,transform .3s,left .3s;transition:width .3s,min-width .3s,transform .3s,left .3s,-webkit-transform .3s}.style__isLocked___saHMV{position:relative;left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%)}
.style__tabs___2cLAB {
    height: 100%;
}

.style__tabs__content___10CI2 {
    height: calc(100% - 141px);
    overflow-y: auto;
}

.style__tabNavigation___1ryTy {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    background: #141414;
    border-bottom: 1px solid #3f3f3f;
}

.style__tabNavigation___1ryTy:before,
    .style__tabNavigation___1ryTy:after {
        content: '';
        display: table;
    }

.style__tabNavigation___1ryTy:after {
        clear: both;
    }

.style__tabNavigation__item___3-bv9 {
    position: relative;
    float: left;
    border-top: 1px solid #3f3f3f;
    border-right: 1px solid #3f3f3f;
    color: #FFF;
}

.style__tabNavigation__item--isActive___2DJOj {
    background-color: #222;
    cursor: default;
    border-bottom: 1px solid #222;
    margin-bottom: -1px;
}

.style__tabNavigation__item--isActive___2DJOj:after {
        display: block;
        content: ' ';
        position: absolute;
        top: -1px;
        left: 0;
        right: 0;
        height: 2px;
        width: 100%;
        background: #00ADEE;
    }

.style__tabNavigation__item--isActive___2DJOj > .style__tabNavigation__itemBtn___1_ByS {
        color: #00ADEE;
    }

.style__tabNavigation__itemBtn___1_ByS {
    display: inline-block;
    height: 40px;
    padding: 0 16px;
    line-height: 40px;
    cursor: pointer;
    border: 0;
    background: 0;
}

.style__tabNavigation__itemBtn___1_ByS:hover {
        color: #00ADEE;
    }

.style__tabNavigation__itemBtn___1_ByS:focus {
        outline: 0;
    }

.style__tabNavigation__itemBtnIcon___1bbz4 {
    color: currentColor;
}

.style__tabNavigation__itemBtnIcon--hasLabel___1sGOy {
    margin-right: 8px;
}

.style__panel___3EeVI {
    overflow-y: auto;
}

.style__name___ZYYKo{background-color:#000;padding:1em 2em}.style__list___dRFT_{list-style-type:none;margin:0 0 0 2em;padding:0}.style__child___3dB9C{margin:1px 0 0;padding:0}.style__child___3dB9C .style__name___ZYYKo{cursor:pointer}
.style__toggleHandle___3bGze{position:absolute;right:0}.style__prototypeLabel___TZ82o{display:block;color:#999;font-size:75%}
.tabTheme__tabNavigation__item--isActive___3iiBo{background-color:#00adee;}.tabTheme__tabNavigation__item--isActive___3iiBo >.tabTheme__tabNavigation__itemBtn___2DyHV{color:#fff}.tabTheme__tabNavigation__itemBtnIcon___3b9bq{width:1em;height:1em}.tabTheme__tabs__content___bD9VE{height:calc(100% - 45px);overflow-x:auto;overflow-y:auto}
.tabPanelTheme__panel___2hlNK{padding:20px;height:100%;overflow-x:visible;overflow-y:visible}
.style__main___3DBYw{height:calc(100vh - 40px);margin-top:40px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}
.style__loader___31fBd{background-color:#000;position:fixed;top:0;left:0;right:0;bottom:0;color:#fff;z-index:900;cursor:wait}.style__caption___19nQD{width:300px;position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}.style__imagemark___1d71L{width:100%;background-color:transparent;position:relative;z-index:10}.style__imagemark___1d71L path{fill:#fff}.style__monocle___2Spft{position:absolute;top:48%;left:23%;z-index:9;border-radius:100%;width:28%;height:28%;-webkit-transform:rotate(45deg);transform:rotate(45deg);overflow:hidden}.style__monocleBackground___-nm8g{position:absolute;background:-webkit-gradient(linear,left top,left bottom,color-stop(0,#f2f6f8),color-stop(50%,#d8e1e7),color-stop(51%,#b5c6d0),to(#f2f6f8));background:linear-gradient(180deg,#f2f6f8 0,#d8e1e7 50%,#b5c6d0 51%,#f2f6f8);width:200%;height:200%;-webkit-animation:style__glare___3CfDX 1s linear;animation:style__glare___3CfDX 1s linear;-webkit-transform:translateY(-50%);transform:translateY(-50%)}@-webkit-keyframes style__glare___3CfDX{0%{-webkit-transform:translateY(0);transform:translateY(0)}to{-webkit-transform:translateY(-50%);transform:translateY(-50%)}}@keyframes style__glare___3CfDX{0%{-webkit-transform:translateY(0);transform:translateY(0)}to{-webkit-transform:translateY(-50%);transform:translateY(-50%)}}
@-webkit-keyframes style__slideDialogContents___Ccku3 {
    from {
        opacity: 0;
        -webkit-transform: translateX(-50%) translateY(-50%) scale(.9);
                transform: translateX(-50%) translateY(-50%) scale(.9);
    }
}

@keyframes style__slideDialogContents___Ccku3 {
    from {
        opacity: 0;
        -webkit-transform: translateX(-50%) translateY(-50%) scale(.9);
                transform: translateX(-50%) translateY(-50%) scale(.9);
    }
}

.style__dialog___rKjt7 {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0, .8);
}

.style__dialog__contentsPosition___3qWFi {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
            transform: translateX(-50%) translateY(-50%) scale(1);
    background: #222;
    -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
            box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
    border-radius: 0;
    outline: none;
    opacity: 1;
    -webkit-animation: style__slideDialogContents___Ccku3 .3s ease-in-out;
            animation: style__slideDialogContents___Ccku3 .3s ease-in-out;
}

.style__dialog__contents___19Mei {
    position: relative;
    width: calc(100vw - 40px * 2);
    max-width: calc(40px * 16);
    border: 2px solid #3f3f3f;
}

.style__dialog--wide___2QHwD .style__dialog__contents___19Mei {
        max-width: calc(40px * 24);
    }

@media(max-width: 576px) {

    .style__dialog--wide___2QHwD .style__dialog__contents___19Mei {
            max-width: 100vw;
            width: 100vw
    }
        }

.style__dialog--narrow___EndgJ .style__dialog__contents___19Mei {
        max-width: 400px;
    }

.style__dialog--success___2FzE- .style__dialog__contents___19Mei {
        border-color: #00a338;
    }

.style__dialog--warn___3jKSB .style__dialog__contents___19Mei {
        border-color: #ff8700;
    }

.style__dialog--error___3zfga .style__dialog__contents___19Mei {
        border-color: #ff460d;
    }

.style__dialog__title___smVXW {
    font-size: 20px;
    line-height: 1.2;
    padding: 16px;
    padding-right: 40px;
}

.style__dialog__body___2f-mJ {
    max-height: calc(65vh);
    overflow-y: auto;
}

@media(max-width: 576px) {

.style__dialog__body___2f-mJ {
        max-height: calc(55vh)
}
    }

.style__dialog__actions___1YXaQ {
    text-align: right;
    margin-top: 16px;
}

.style__dialog__closeBtn___3RRpb {
    position: absolute;
    top: 0;
    right: 0;
    background: #3f3f3f;
}

.style__dialog__backDrop___Q_vhk {
    position: absolute;
    height: 100%;
    width: 100%;
}

.style__form___2_7IO{padding:16px}
.style__close___2NO6D{position:absolute;top:1em;right:1em;background:transparent;border:none;cursor:pointer}.style__form___UtFx0{padding:16px}.style__qrcode___3lkhE{display:block;margin:0 auto;width:75%}.style__url___3TV5e{position:relative;word-wrap:break-word;font-family:monospace;padding:16px 42px 16px 16px;margin-top:16px;background-color:#000}.style__copy___1oEvS{cursor:pointer;top:0;bottom:0;right:0;width:42px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}.style__copied___3F8SF,.style__copy___1oEvS{position:absolute}.style__copied___3F8SF{opacity:0;-webkit-transition:opacity .3s;transition:opacity .3s;background-color:#333;top:50%;right:100%;padding:.3em .6em;-webkit-box-shadow:1px 1px 0 #000;box-shadow:1px 1px 0 #000;-webkit-transform:translateY(-50%);transform:translateY(-50%)}.style__copiedVisible___paUoX{opacity:1}.style__icon___3IzPu{width:1em;height:1em}
.style__container___2h4BH{font-family:Work Sans,sans-serif;font-weight:400;position:fixed;top:0;right:0;bottom:0;left:0;z-index:2000;display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-ms-flex-line-pack:center;align-content:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;}.style__container___2h4BH .style__message___1eOZ4,.style__container___2h4BH h1,.style__container___2h4BH h2{text-align:center;width:100%}.style__severity-warning___1OPuI{color:#8a6d3b;background-color:#fcf8e3}.style__severity-error___2e_fF{color:#a94442;background-color:#f2dede}.style__severity-fatal___20_AF{color:#f2dede;background-color:#a94442}.style__message___1eOZ4{max-width:40em}
body,html{height:100%;overflow:hidden}body{margin:0}

/*# sourceMappingURL=App.css.map*/