.monocle {
    padding: 0;
    margin: 0;
}

.monocle__section {
    margin-bottom: 2em;
}

.monocle__section__info {
    padding: 0.5em;
    background: #3f3f3f;
    color:white;
    border-bottom: 2px solid #2d2d2d;
}

.monocle__section__info__headline {
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 28px;
}

.monocle__section__path {
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 10px;
}

.monocle__item {
    margin-bottom: 2em;
}

.monocle__item__info {
    padding: 0.5em;
    background: #3f3f3f;
    color:white;
    padding: 0.5em;
    font-size: 10px;
}

.monocle__item__info__headline {
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 18px;
}

.monocle__item__description {
    padding: 0.5em;
    background-color: #3f3f3f;
    color:white;
    padding: 0.5em;

    font-family: sans-serif;
    font-weight: lighter;
    font-size: 10px;
}

.monocle__item__preview {
    position: relative;
}


.monocle__item__preview iframe {
    width: 100%;
}

.monocle__item__code {
    padding: 0.5em;
    background-color: #3f3f3f;
    color:white;
    padding: 0.5em;

    font-family: monospace;
    font-weight: normal;
    font-size: 10px;
}

.monocle__item__info a,
.monocle__section__info a {
    color: white;
    font-family: inherit;
    font-size: inherit;
}