.list {
    width: 100vw;
    max-width: 800px;
}

.prototypes {
    max-height: calc(100vh - 2 * var(--goldenUnit));
    overflow-y: scroll;
    overflow-x: hidden;
}

.searchField input {
    text-align: center;
    font-size: 16px;
    height: 50px;
    border: 1px solid var(--brandColorsContrastDark);
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-track {
	background-color: var(--brandColorsContrastDark);
}

::-webkit-scrollbar-thumb {
	background-color: var(--brandColorsContrastDarker);
	border: 1px solid var(--brandColorsContrastDark);
}

::-webkit-scrollbar-corner {
	background-color: var(--brandColorsContrastDark);
}
